h1{ 
  color: red;
  
}
p{
  color: white;
}
<!-- 
  add this to your template in order to active style sheet <link rel="stylesheet" href="style.css"/>  
-->

.carousel {
  position: relative;
}

.carousel__item {
  height: 300px;
  background: purple;
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  display: none;
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: rgba(255, 255, 255, 0.5);
}
